name: Publish Artifact for Acceptance Testing

on:
  pull_request:
    branches: [ "acceptance" ]
    types: [ closed ]
  workflow_dispatch:

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK and Build Application
        uses: actions/setup-java@v3
        with:
          java-version: 19
          distribution: 'temurin'
        run: |
          VERSION=$(date +'%Y%m%d%H%M%S')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          mvn package -Drevision=$VERSION

      - name: Upload Artifact for Testing
        uses: actions/upload-artifact@v3
        with:
          name: application-${{ env.VERSION }}.jar
          path: target/*.jar
